.Info {
    margin: 4vh;
    .Email {
        padding-top: 2vh;
        padding-bottom: 2vh;
        color: rgba(84, 63, 63, 0.6);
        font-size: 8pt;
    }
    .Nickname {
        font-weight: 300;
    }
}
