.AddButton {
  position: absolute;
  border-radius: 100%;
  background: rgb(85, 69, 61);
  height: 40px;
  width: 40px;
  right: 1em;
  bottom: 1em;
  padding-top: 10px;
  padding-left: 10px;
  .PlusIcon {
    color: whitesmoke;
    vertical-align: middle;
  }
}
