.AddButton {
  position: absolute;
  border-radius: 100%;
  background: #55453d;
  height: 40px;
  width: 40px;
  right: 0;
  bottom: -1em;
  padding-top: 10px;
  padding-left: 10px; }
  .AddButton .PlusIcon {
    color: whitesmoke;
    vertical-align: middle; }
