$imageRadius: 40%;
$Size: 50px;
@mixin round($size) {
    border-radius: $imageRadius;
    border: solid white;
    height: $size;
    width: $size;
}
.length2,
.length3,
.length4 {
    .ImagePosition {
        position: absolute;
        width: 25px;
        height: 25px;
    }
}
.length4 {
    .Image {
        @include round(21px);
    }
}
.length3 {
    .Image {
        @include round($Size/2.2);
    }
}
.length2 {
    .Image {
        @include round($Size/1.8);
    }
}
.length1 {
    .Image {
        @include round($Size);
    }
}
.Item {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
    height: 60px;
    .DivRound {
        position: relative;
        width: $Size;
        margin: 5px;
    }

    .Content {
        flex: 1;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
    }
}
