.Item {
  display: flex;
  flex-direction: row;
  margin: 5px 0px;
  height: 60px;
  a {
    all: unset;
    display: flex;
  }

  .Content {
    flex: 1;
    height: 40px;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 400;
  }
}
