.up-down-enter,
.up-down-exit {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateX(50vw);
  transition: transform 300ms;
  width: 100%;
  height: 100%;
}
.up-down-enter,
.up-down-exit-active {
  transform: translateX(50vw);
  transition: transform 300ms;
  //   opacity: 0;
}

.up-down-enter-active {
  //   opacity: 1;
  transform: translateX(0);
  transition: transform 300ms;
  background-color: white;
  z-index: 1;
}

.up-down-exit-enter {
  transform: translateX(-50vw);
  //   opacity: 1;
}
#Benchmark {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.up-down-exit-active {
  z-index: 0;
}

.Container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
