.Item {
  display: flex;
  flex-direction: row;
  margin: 5px 0px;
  height: 60px;
  .Link {
    all: unset;
    display: flex;
  }

  .Content {
    flex: 1;
    height: 40px;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Email {
      padding-top: 2vh;
      padding-bottom: 2vh;
      color: rgba(84, 63, 63, 0.6);
      font-size: 8pt;
    }
    .Nickname {
      font-weight: 300;
    }
  }
}
