.LoginBox {
    background-color: rgb(255, 243, 16);
    height: 750px;
    padding: 80px;
}
.LogoBox {
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.LogoIcon {
    margin-bottom: 30px;
}
.SocialButton {
    box-sizing: border-box;
    position: relative;
    width: 20em;
    margin: 0.2em;
    padding: 0 15px 0 15px;
    border: none;
    text-align: center;
    line-height: 50px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #fff;
}

.FooterBox {
    border: 1px;
    border-style: solid;
}
