@mixin after() {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  z-index: 1;
  top: 12px;
}
.Talk {
  word-break: break-all;
  position: relative;
  margin-left: 25px;
  max-width: 200px;
  background-color: white;
  border-radius: 15px;
  padding: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  &.user {
    text-align: right;
    margin-right: 25px;
    float: right;
    background: yellow;
    &::after {
      @include after();
      border-width: 9px 0 9px 19px;
      border-color: transparent yellow;
      right: -19px;
    }
  }
  &.friend::after {
    @include after();
    border-width: 9px 19px 9px 0px;
    border-color: transparent white;
    left: -19px;
  }
}
