.Search {
  display: flex;
  width: 100%;
  border: 0px;
  border-bottom: 0.8px solid rgb(230, 230, 230);
  .Input {
    all: unset;
    font-size: 10pt;
    flex: 1;
    padding: 0px;
    height: 36px;
    &:focus {
      outline: 0 none;
    }

    &::placeholder {
      color: rgb(153, 153, 153);
    }
  }
  .SearchIco {
    margin: 10px;
    z-index: 1;
  }
}
