.Contents {
  margin: 0.9vh;
  .List {
    padding-left: 0px;
    margin-block-start: 0.2em;
  }
}
.Search {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  .Input {
    font-size: 10pt;
    border: 0px;
    width: 45.9vh;
    padding: 0px;
    padding-left: 36px;
    border-bottom: 0.8px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    height: 36px;
    &:focus {
      outline: 0 none;
    }

    &:placeholder {
      color: rgb(153, 153, 153);
    }
  }
  .SearchIco {
    position: absolute;
    margin: 10px;
    z-index: 1;
  }
}
