.Nav {
    background: rgb(66, 54, 48);
    padding: 15px;
    .IconBox {
        display: inline-block;
        overflow: hidden;
        max-width: 36px;
        max-height: 36px;
        margin-top: 15px;
        margin-right: 20px;
        .Icon {
            max-width: initial;
        }
    }
}
